<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TechWithHer Quotes</title>
    <link rel="stylesheet" href="{{ static/style.css }}">
</head>

<body>

    <div class="container">

        <!-- Header -->
        <header class="header">
            <h1 class="logo">QuotesOps #TechWithHer</h1>
            <p class="tagline">Where DevOps meets caffeine and deployment reality ☕</p>
        </header>

        <!-- Hero Section -->
        <section class="hero">
            <h2>Welcome to Quotes App </h2>
            <p>
                A DevOps-inspired quote engine that serves sarcastic, intelligent,
                and chaos-driven humor for engineers who live in pipelines, YAML, and outages.
            </p>
        </section>

        <!-- Quote Box -->
        <div class="quote-box">
            <h3>💬 DevOps Wisdom</h3>
            <p id="quote">Click below to generate a quote...</p>

            <button onclick="getQuote()">Generate Quote</button>
        </div>

    </div>

    <script>
        function getQuote() {
            fetch('/api')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("quote").innerText = data.quote;
                });
        }
    </script>

</body>
</html>